<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>社区论坛</title>
    <link rel="icon" type="image/x-icon" href="/static/img/slogan.jpg">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/component.css">
    <link rel="stylesheet" href="/static/css/Login-Form-Basic-icons.css">



</head>

<body style="margin-top: 0px;">
    <nav class="navbar navbar-light navbar-expand py-3" style="box-shadow: 0px 0px 6px;">
        <div class="container">
    <a class="navbar-brand d-flex align-items-center">
            <img class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon" src="/static/img/slogan.jpg">
        <a style="font-size: 40px;" class="nav-link active" href="../../">医云</a>
    </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-3">
        <span class="visually-hidden">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navcol-3" class="collapse navbar-collapse" style="font-weight: bold;color: #000000;font-size: 22px;">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link active" href="../../user/">我的主页</a></li>
                <li class="nav-item"><a class="nav-link active" href="../../info/">信息公开</a></li>
                <li class="nav-item"><a class="nav-link" href="../../recommend/" style="color: rgba(0,0,0,0.9);">医院推荐</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'forum:hot' 1 %}" style="color: rgba(0,0,0,0.9);">社区论坛</a></li>
            </ul>

       </div>
        {% if user.is_authenticated %}
        <span style="font-size: 18px;">欢迎您<br/>{{user.username}}</span>

        <div class="dropdown">
            <a class="btn btn-Info dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#" role="button">
                <i class="bi bi-person-circle" style="font-size: 15px;"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="rgb(13, 110, 253)" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../../user/">我的主页</a></li>
                <li><a class="dropdown-item" href = "{%url 'logout'%}">登出账户</a></li>


            </ul>
        </div>
        {% else %}
        <button class="btn btn-primary" type="button" style="font-size: 20px;font-weight: bold;" onclick="window.location.href = '../../login/'">登录/注册</button>
        {% endif %}
    </div>
</nav>

    <form method="get">
 <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-3"><input type="text" name="search_query" style="height: 48px;width: 280px;margin-left: 110px;" placeholder="搜点什么..."></div>
            <div class="col"><button class="btn btn-primary btn-lg" type="submit" style="font-weight: bold;height: 48px;margin-left: 80px;text-align: left;">搜索</button></div>
            <div class="col-lg-3">
            	<button class="btn btn-primary btn-lg" type="submit" style="font-weight: bold;height: 48px;margin-left: 60px; " onclick="window.open('../../blog/create')">发布新帖子</button>
            </div>
        </div>
    </div>
</form>

    <div class="container" style="margin-top: 30px;">
	{% if blogs %}
        {% for b in blogs %}

        <div class="row">
            <div class="col"></div>
            <div class="col-lg-10">

                <div class="card">
                    <div class="card-header">
                        <div class="mb-0">
                            <h4>
                                <div><a target="_blank" style="color: #13b1f1" href="{% url 'forum:blog_page' b.id %}">{{ b.title }}</a></div>
                            </h4>
                                <p class="font-size: 2px">时间：{{ b.created_time }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浏览量：{{ b.pageview }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发帖用户：{{ b.user }}</p>

                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">


                        <p>{{ b.content|truncatechars:20 }}</p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        {% endfor %}
        {% endif %}
        </div>
        <p class="text-center">第{{ current_page }}页，共{{ page_num }}页</p>
    </div>


    <div class="container" style="margin-top: 32px;">
        <div class="row">
            <div class="col" style="text-align: center;"></div>
            <div class="col-lg-1">
                <nav>
                    <ul class="pagination" style="textAlign: 'center'" class="position-absolute top-50 start-50">

                        <li class="page-item"><a class="page-link" aria-label="Previous" href="{% url 'forum:hot' current_page|add:'-1' %}"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item"><a class="page-link" aria-label="Next" href="{% url 'forum:hot' current_page|add:'1' %}"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <footer class="bg-light footer" style="margin-top: 0px;margin-bottom: 32px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start my-auto h-100">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#">About</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Contact</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Terms of &nbsp;Use</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© Brand 2023. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-center text-lg-end my-auto h-100">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-github fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-qq fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-wechat fa-2x fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>