<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>信息公开</title>
    <link rel="icon" type="image/x-icon" href="/static/img/slogan.jpg">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Noto+Sans:300,400,500,600,700&amp;display=swap">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/component.css">
    <link rel="stylesheet" href="/static/css/Footer-Basic-icons.css">
    <link rel="stylesheet" href="/static/css/Gamanet_Sidebar_bs5.css">
    <link rel="stylesheet" href="/static/css/Login-Form-Basic-icons.css">

</head>

<body>
<nav class="navbar navbar-light navbar-expand py-3" style="box-shadow: 0px 0px 6px ;z-index: 10;">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center">
            <img class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"
                 src="/static/img/slogan.jpg">
            <a style="font-size: 40px;" class="nav-link active" href="../../">医云</a>
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-3">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navcol-3" class="collapse navbar-collapse" style="font-weight: bold;color: #000000;font-size: 22px;">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link active" href="../../user/">我的主页</a></li>
                <li class="nav-item"><a class="nav-link active" href="../../info/">信息公开</a></li>
                <li class="nav-item"><a class="nav-link" href="../../recommend/"
                                        style="color: rgba(0,0,0,0.9);">医院推荐</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'forum:hot' 1 %}" style="color: rgba(0,0,0,0.9);">社区论坛</a>
                </li>
            </ul>

        </div>
        {% if user.is_authenticated %}
        <span style="font-size: 18px;">欢迎您<br/>{{user.username}}</span>

        <div class="dropdown">
            <a class="btn btn-Info dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#"
               role="button">
                <i class="bi bi-person-circle" style="font-size: 15px;"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="rgb(13, 110, 253)"
                     class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd"
                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../../user/">我的主页</a></li>
                <li><a class="dropdown-item" href="{%url 'logout'%}">登出账户</a></li>


            </ul>
        </div>
        {% else %}
        <button class="btn btn-primary" type="button" style="font-size: 20px;font-weight: bold;"
                onclick="window.location.href = '../../login/'">登录/注册
        </button>
        {% endif %}
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <header class="text-center text-white masthead"
                    style="background: url('/static/img/bg-masthead.jpg')no-repeat center center;background-size: 100%;height: 200px;">
                <br>
                <h1 style="font-size: 80px;text-align: center;margin-top: -60px;"><strong>公开化、透明化</strong></h1>
            </header>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-6">
            <!-- 搜索表单 -->
            <form method="GET">
            <input type="text" name="search_query" style="height: 48px;margin-top: 20px;width: 500px;"
                   placeholder="输入医院名...">
            <button class="btn btn-primary btn-lg" type="submit"
                    style="font-weight: bold;height: 48px;text-align: left;margin-right: 0px;margin-left: 30px;margin-bottom: 2px;">
                搜索
            </button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 20px;margin-right: 0px;margin-left: 0px;">
        <div class="col-lg-2 text-center">
            <div class="position-absolute" style="margin-right: 0px;margin-left: 20px;height: 620px;">
                <ul class="list-sidebar" style="margin-top: 0px;text-align: center;padding-left: 0px;">
                    <li class="list-sidebar-item" style="text-align: center;"><a
                            class="d-flex align-items-center list-sidebar-link" id="sidebar-item-id-1"
                            href="../info/"><span data-txt-key="txtSidebarItem1">全部<br></span></a></li>
                    <li class="list-sidebar-item"><a
                            class="d-flex align-items-center list-sidebar-link" id="sidebar-item-id-2"
                            href="../info/?search_query=黄浦区"><span data-txt-key="txtSidebarItem2">黄浦区</span></a><a
                            class="d-flex align-items-center list-sidebar-link" id="sidebar-item-id-3"
                            href="../info/?search_query=徐汇区"><span data-txt-key="txtSidebarItem3">徐汇区</span></a><a
                            class="d-flex align-items-center list-sidebar-link" id="sidebar-item-id-9"
                            href="../info/?search_query=长宁区"><span data-txt-key="txtSidebarItem3">长宁区</span></a><a
                            class="d-flex align-items-center list-sidebar-link" id="sidebar-item-id-8"
                            href="../info/?search_query=静安区"><span data-txt-key="txtSidebarItem3">静安区</span></a><a
                            class="d-flex align-items-center list-sidebar-link" id="sidebar-item-id-7"
                            href="../info/?search_query=普陀区"><span data-txt-key="txtSidebarItem3">普陀区</span></a><a
                            class="d-flex align-items-center list-sidebar-link" id="sidebar-item-id-6"
                            href="../info/?search_query=虹口区"><span data-txt-key="txtSidebarItem3">虹口区</span></a><a
                            class="d-flex align-items-center list-sidebar-link" id="sidebar-item-id-5"
                            href="../info/?search_query=杨浦区"><span data-txt-key="txtSidebarItem3">杨浦区</span></a><a
                            class="d-flex align-items-center list-sidebar-link" id="sidebar-item-id-4"
                            href="../info/?search_query=闵行区"><span data-txt-key="txtSidebarItem3">闵行区</span></a><a
                            class="d-flex align-items-center list-sidebar-link" id="sidebar-item-id-12"
                            href="../info/?search_query=宝山区"><span data-txt-key="txtSidebarItem3">宝山区</span></a><a
                            class="d-flex align-items-center list-sidebar-link" id="sidebar-item-id-11"
                            href="../info/?search_query=嘉定区"><span data-txt-key="txtSidebarItem3">嘉定区</span></a><a
                            class="d-flex align-items-center list-sidebar-link" id="sidebar-item-id-10"
                            href="../info/?search_query=浦东新区"><span data-txt-key="txtSidebarItem3">浦东新区</span></a><a
                            class="d-flex align-items-center list-sidebar-link" id="sidebar-item-id-14"
                            href="../info/?search_query=金山区"><span data-txt-key="txtSidebarItem3">金山区</span></a><a
                            class="d-flex align-items-center list-sidebar-link" id="sidebar-item-id-13"
                            href="../info/?search_query=松江区"><span data-txt-key="txtSidebarItem3">松江区</span></a></li>
                    <li class="list-sidebar-item"></li>
                </ul>
            </div>
        </div>

        <div class="col">
            {% for hospital in hospitals %}
            <a href="{% url 'forum:hospital_info' hospital.id %}" class="list-group-item list-group-item-action">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ hospital.name }}</h4>
                        <p class="mb-1">地址：{{ hospital.address }}</p>
                        <p class="mb-1">电话：{{ hospital.telephone }}</p>

                        {% if hospital.advantage_1 %}
                        <p style="display: inline-block" class="mb-1">优势科室：{{ hospital.advantage_1 }}</p>
                        {% endif %}
                        {% if hospital.advantage_2 %}
                        <p style="display: inline-block" class="mb-1">{{ hospital.advantage_2 }}</p>
                        {% endif %}
                        {% if hospital.advantage_3 %}
                        <p style="display: inline-block" class="mb-1">{{ hospital.advantage_3 }}</p>
                        {% endif %}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

    </div>
</div>
<footer class="bg-light footer" style="margin-top: 600px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-start my-auto h-100">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#">About</a></li>
                    <li class="list-inline-item"><span>⋅</span></li>
                    <li class="list-inline-item"><a href="#">Contact</a></li>
                    <li class="list-inline-item"><span>⋅</span></li>
                    <li class="list-inline-item"><a href="#">Terms of &nbsp;Use</a></li>
                    <li class="list-inline-item"><span>⋅</span></li>
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">© Brand 2023. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 text-center text-lg-end my-auto h-100">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-github fa-2x fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-qq fa-2x fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-wechat fa-2x fa-fw"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>